{% extends 'base.html' %}
{% block extrahead %}
{% load crispy_forms_tags %}

{% endblock extrahead %}

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-xl-12">
      <div class="card">
        <h5 class="card-header bg-dark text-white">Publicar Nuevo Evento</h5>
        <div class="card-body">
          <h5 class="card-title">Rellena el siguiente formulario para publicar los datos del nuevo evento, la imagen del evento es opcional y se usará como portada en la publicación.</h5>
          <form id="eventoForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-2 mb-3">
              <button type="submit" class="btn btn-dark btn-lg">Publicar Evento</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        function toggleDisabled(field, condition) {
            if (condition) {
                field.value = '';
                field.disabled = true;
            } else {
                field.disabled = false;
            }
        }

        var todoElDiaCheckbox = document.querySelector('#id_todo_el_dia');
        var desdeField = document.querySelector('#id_desde');
        var hastaField = document.querySelector('#id_hasta');
        var cuposIlimitadosCheckbox = document.querySelector('#id_cupos_ilimitados');
        var cuposMaximosField = document.querySelector('#id_cupos_maximos');

        todoElDiaCheckbox.addEventListener('change', function () {
            toggleDisabled(desdeField, this.checked);
            toggleDisabled(hastaField, this.checked);
        });

        cuposIlimitadosCheckbox.addEventListener('change', function () {
            toggleDisabled(cuposMaximosField, this.checked);
        });
    });
</script>

{% endblock content %}