<div class="row">
    {% load static %}
    {% for evento in eventos %}
    <div class="col-md-4 mt-4">
        <div class="card">
            {% if evento.imagen %}
            <img src="{{ evento.imagen.url }}" class="card-img-top" height="400" width="300" style="object-fit: cover;">
            {% else %}
            <img src="{% static 'default.svg' %}" class="card-img-top" height="400" width="300"
                style="object-fit: cover;">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ evento.titulo }}</h5>
                <pre>
Precio: {{ evento.precio }}
Ubicación: {{ evento.lugar }}
Reservas: {{ evento.cupos }} / {% if not evento.cupos_ilimitados %}{{ evento.cupos_maximos }}{% else %}Ilimitados{% endif %}
{% if evento.todo_el_dia  %}Todo el día {% else %}Desde las {{ evento.desde|time:"g:i A" }} Hasta las {{ evento.hasta|time:"g:i A" }}{% endif %}
Organizador: {{ evento.organizador }}
                </pre>

                <div class="d-grid gap-2 mx-5">
                    <a href="{% url 'evento' evento.id %}" class="btn btn-dark">Ver</a>
                </div>
            </div>
            <div class="card-footer text-body-secondary text-center">
                Fecha: {{ evento.fecha }}
            </div>
        </div>
    </div>

    {% empty %}
    <h1>No hay eventos</h1>

    {% endfor %}

</div>
