{% extends 'base.html' %}

{% block extrahead %}
{% load crispy_forms_tags %}
{% load static %}
{% endblock extrahead %}

{% block content %}
{% if user.is_authenticated %}
<h2>Bienvenidx a FiestAguadas @{{ user.username }}!</h2>
<h5 class="mt-4 sa-3">Mira los eventos que tenemos para ti</h5>
{% include 'CreateEventForm.html' %}
{% else %}
<h2>Bienvenidx a FiestAguadas!</h2>
<h5>Inicia Sesión o Registrate para disfrutar al máximo de todo lo que tenemos para ti</h5>
{% endif %}
{% include 'EventsList.html' %}

<script src="{% static 'formScript.js' %}" type="text/javascript"></script>

{% endblock content %}